<div class="body-section">
  <div class="tasks-list-wrapper col-md-8">
    <div class="tasks-list">
      <div class="tasks-list-heading"><span>To Do</span></div>
      <div class="tasks-list-body" id="todo">
        <ul id="todo-tasks-list">
          <% unless @todo_tasks.empty? %>
            <% @todo_tasks.each do |task| %>
              <li class="list-items">
                <%= link_to task_path(task), remote: true do %>
                  <input type='hidden' class='t_id' value="<%= task.id %>">
                  <div class="task-block" id="doing-task_<%= task.id %>">
                    <%= render partial: 'task_detail', locals: { task: task } %>
                  </div>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="tasks-list-footer">
        <%= link_to new_task_path, class: 'task-create-link' do %>
          <button class="add-task-btn btn">
            <i class="fas fa-plus"></i>
            タスク作成 ...
          </button>
        <% end %>
      </div>
    </div>
    <div class="tasks-list">
      <div class="tasks-list-heading"><span>Doing</span></div>
      <div class="tasks-list-body" id="doing">
        <ul id="doing-tasks-list">
          <% unless @doing_tasks.empty? %>
            <% @doing_tasks.each do |task| %>
              <li class="list-items">
                <%= link_to task_path(task), remote: true do %>
                  <input type='hidden' class='t_id' value="<%= task.id %>">
                  <div class="task-block" id="doing-task_<%= task.id %>">
                    <%= render partial: 'task_detail', locals: { task: task } %>
                  </div>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="tasks-list">
      <div class="tasks-list-heading"><span>Done</span></div>
      <div class="tasks-list-body" id="done">
        <ul id="done-tasks-list">
          <% unless @done_tasks.empty? %>
            <% @done_tasks.each do |task| %>
              <li class="list-items">
                <%= link_to task_path(task), remote: true do %>
                  <input type='hidden' class='t_id' value="<%= task.id %>">
                  <div class="task-block" id="doing-task_<%= task.id %>">
                    <%= render partial: 'task_detail', locals: { task: task } %>
                  </div>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <!-- MODAL for tasks detail -->
  <div class="modal fade" id="task-info-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  <!-- Right aside Dashboard -->
  <%= render 'shared/dash_board' %>
</div>
