<header class="navbar navbar-top">
  <div class="header-section">
    <div class="top-bar-block left col-md-4">
      <div class="home-icon-block">
        <%= link_to (content_tag(:button, content_tag(:i, '', class: 'fas fa-home fa-lg'), class: 'btn')), root_path %>
      </div>
      <div class="search-form-wrapper">
        <% if user_signed_in? %>
          <%= search_form_for @q, id: 'search-form' do |f| %>
            <%= f.text_field :name_cont, id: "search-input", placeholder: 'Search by name here ...' %>
            <%= button_tag type: "submit", id: "search-submit" do %>
              <i class="fa fa-search"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="top-bar-block center col-md-4">
      <%= link_to root_path, class: 'logo-link' do %>
        <i class="fab fa-trello fa-lg"></i>
        <span>タスク管理</span>
      <% end %>
    </div>
    <div class="top-bar-block right col-md-4">
      <% if user_signed_in? %>
        <div class="user-settings-block">
          <% if current_user.is_admin? %>
            <%= link_to (content_tag(:button, content_tag(:i, '', class: 'fas fa-cogs'), class: 'btn')), labels_path %>
          <% end %>
          <%= link_to '#', class: 'notify-btn btn' do %>
            <i class="fas fa-bell"></i>
          <% end %>
          <%= link_to (content_tag(:button, content_tag(:i, '', class: 'fas fa-sign-out-alt'), class: 'btn')), logout_path, method: :delete %>
        </div>
      <% else %>
        <%= link_to login_path, class: 'log-in-link' do %>
          <div class="log-in-btn">
            <i class="fas fa-sign-in-alt"></i>
            <span>Log In</span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</header>
